<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "OrgWolkigSwitch"
    versionCode = "101"
    version     = "0.1.1" >

<!-- versionCode is optional and Android only -->

  <name>Schalter</name>

  <description>
      Simple App zur Steuerung von Steckdosen
  </description>

  <author email="hboers@me.com">
      Heinrich Boers
  </author>
  <icon src="icon.png" />
  <platform name="android" />
<!--
  <platform name="ios" />
  <platform name="winphone" />
-->

</widget>
